<!DOCTYPE html>
<html lang="en">
    <!-- Hope this works!! -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./styles/base.css">
    <title>Book App</title>
</head>
<body>
<form action= "/searches" method= "POST">
    <input type= "text" name= "findBooks" placeholder=" Enter a Title or Author and hit search. Glad your finally reading." required>
    <fieldset> 
        <label for="title">
            <span> Title </span>
            <input type= "radio" name= "findBooks" value= "title" required> 
        </label>
    </fieldset>
    <fieldset> 
        <label for="author">
            <span> Author </span>
            <input type= "radio" name= "findBooks" value= "author" required> 
        </label>
    </fieldset>
    <button type= "submit"> Slam this bad boy to find some radass books. </button>
</form> 
    
    
</body>
</html>